body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Fira Code", Consolas, "Courier New", monospace;
}
